body {
  background-color: #35374b;
}
.dv1 {
  background-color: rgb(34, 49, 55);
  width: 99vw;
  height: 100px;
  border: 2px solid #50727b;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.in1 {
  margin: 15px;
  background-color: #35374b;
  height: 40px;
  border: 1px solid #50727b;
  border-radius: 10px;
  color: white;
  margin: 20px;
  text-align: end;
  font-size: 19px;
}
.div-3 {
  color: #50727b;
  position: relative;
  display: inline;
  font-size: 22px;
  cursor: default;
}
.di3 {
  left: 20vw;
  top: 28px;
}
